.app {
  text-align: center;
  height: 100%;
  width: 100%;

  &__body {
    gap: 70px;
    display: flex;
    flex-direction: column;

    &__projects {
      display: flex;
      flex-wrap: wrap;
      padding-inline: 7.5%;
      align-items: center;
      justify-items: center;
      justify-content: flex-start;
      gap: 8%;
    }
  }
}

.title {
  display: inline;
  justify-self: baseline;
  font-size: 48px;
  font-family: $default-font-family;
}